@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --bg-color: #fff;
  --border-color: #d7d6d6;
  --text-color: #000000;
  --border-radius: 2rem;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

p {
  font-size: 1.75rem;
}
h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}
li {
  list-style: none;
  text-decoration: none;
}

.active {
  text-decoration: none;
  color: #000000;
}
.inactivate {
  text-decoration: none;
  color: #fff;
}

select {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  background: #fff;
  outline: none;
  transition: all 0.3s ease;
}

input {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
  background: #fff;
  outline: none;
  transition: all 0.3s ease;
}
label {
}
option {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #000000;
}
