.wrapper {
  width: 80%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: 2fr 7fr 1fr; */
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  overflow: auto;
}
.input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.button_recapify {
  min-height: 5%;
  margin: 0 auto;
}
.loading {
  min-height: 5%;
  margin: 0 auto;
}
