.root_header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid var(--border-color);
  padding: 0 3rem;
}
.logo {
  font-family: "Roboto", serif;
}
.root_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}
