.wrapper {
  width: 100%;
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}
.select {
  display: flex;
  flex-direction: row;
}
.input {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
}
